AddressCrossRef/target/classes/AddressCrossRef.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:generic-config name="DBT1_DB_Configuration" url="jdbc:db2://dbt1dist.humana.com:5027/DBT1:user=DB2EIT0;password=mrvwk75#;" driverClassName="com.ibm.db2.jcc.DB2Driver" doc:name="Generic Database Configuration"/>
    <flow name="AddressCrossRefFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/AddressCrossRef"  allowedMethods="GET" doc:name="HTTP"/>
        <db:select config-ref="DBT1_DB_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT CITY.ZIP_CD, CITY.STATE_CD, CITY.CNTY_CD, CITY.CITY_NAME, 
															CITY.PREFERED_CITY_NAME , CNTY.CNTY_NAME
															FROM HUM.TEXCITY CITY, HUM.TEXSTCN CNTY
															WHERE CITY.ZIP_CD = #[message.inboundProperties.'http.query.params'.zipcode] 
															AND CITY.STATE_CD = CNTY.STATE_CD  
															AND CITY.CNTY_CD = CNTY.CNTY_CD 
															WITH UR;]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer mimeType="application/json" doc:name="Object to JSON"/>
        <dw:transform-message metadata:id="42e72bb9-b02b-477e-bea4-6dd1397b7f94" doc:name="Transform Message">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	Response: {
		Details: [{
			LocationInformation: payload map ((payload01 , indexOfPayload01) -> {
				Location: {
					City: payload01.CITY_NAME,
					PreferedCityName: payload01.CITY_NAME,
					CountyName: payload01.CNTY_NAME,
					Zipcode: payload01.ZIP_CD
				}
			})
		}],
		Status: [{
			code: "200",
			message: "Ok",
			type: "Success"
		}]
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
